body{
    background-color: burlywood;
}
footer{
    background-color: black;
    width: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: coral;
    text-align: center;
}
/* table{
    background-color: cornflowerblue;
} */
h1{
    background-color: cornflowerblue;
    text-align: center;
    
}